
<div class="col-md-8">
<%= form_for([@post,@post.comments.build]) do |f| %>

<%= f.label :name %>

<%= f.text_field :name , class: "form-control" , placeholder: "name"%>

<%= f.label :body %>
<%=f.text_area :body , class: "form-control" , placeholder: "content"%>



<div class="btn btn-lg btn-success btn-block">
<%= f.submit %>

</div>

<% end %>
</div>
</div><!-- /col-sm-5 -->