<div class="container">
<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Enter name ,title or id" %>
<input type="text" class="form-control exec-calendarTxtbox" name="start" id="datepicker1" placeholder="start-date">
<input type="text" class="form-control exec-calendarTxtbox" name="enddate" id="datepicker2" placeholder="end-date">
<%= submit_tag "Search" %>
<% end %>
<div class="row">
  <div class="col-md-8" style="overflow: scroll; height: 400px; width: 400px;">
  <table class="table table-bordered table-inverse">
    <thead>
    <tr>
    <th>NAME</th>
    </tr>
    </thead>
    <tbody>
      <div id ="post_index">
          <%= render '/posts/post_index', posts: @posts  %>
      </div>
        </tbody> 
    </table>
  </div>
      <div class="col-md-4">
      <div id="new_link">
     <h1> hi </h1>
        
</div>
</div>
</div>
     </div>

<center>
<%= link_to 'New Post', new_post_path , id: "new_link" , remote: true %>
</center>
<script>
$(document).ready(function() {
  var date = new Date();
  var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
  var end = new Date(date.getFullYear(), date.getMonth(), date.getDate());

  $('#datepicker1').datepicker({
    format: "yyyy-mm-dd",
    todayHighlight: true,
     autoclose: true
  });
  $('#datepicker2').datepicker({
    format: "yyyy-mm-dd",
    todayHighlight: true,
    autoclose: true
  });
});
</script>
