
<%= render 'post' %>
<div class="btn-group" role="group">
<%= link_to "EDIT", edit_post_path(@post) , class: "btn btn-default", role: "button" %>
<%= link_to "BACK",posts_path,  class: "btn btn-default", role: "button" %>
<%= link_to "DELETE", post_path(@post) , class: "btn btn-default", role: "button" , :method => :delete , data: {confirm: "Are you sure to delete"} %>

</div>
<h2><%= @post.comments.count %> Comments</h2>
<%= render @post.comments %>
<h2>Add a Comments:</h2>
<%= render "comments/form" %>



