<!DOCTYPE html>
<html>
<style>
  body{
    background-color: #D6F696;
  }
</style>
<body>
<p id="notice"><%= notice %></p>


  <strong>Name:</strong>
  <%= @post.name %><br />



  <strong>Title:</strong>
  <%= @post.title %><br />



  <strong>Content:</strong>
  <%= @post.content %><br />


<h2><%= @post.comments.count %> Comments</h2>
<%= render @post.comments %>

<h2>Add a Comments:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to "Delete" , post_path(@post), method: :delete, data: {confirm: "are you sure"} %>

</body>
</html>