
<p id="notice"><%= notice %></p>

<table class="table table-striped">
<thead>
<tr>
  <th><strong>Name:</strong></th>
 <th> <strong>Title:</strong></th>
  <th><strong>Content:</strong></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @post.name %><br /></td>
     <td><%= @post.content %><br /></td>
    <td><%= @post.title %><br /></td>
    </tr>
    </tbody>
    </table>



<h2><%= @post.comments.count %> Comments</h2>
<%= render @post.comments %>
<h2>Add a Comments:</h2>
<%= render "comments/form" %>

<div class="col-sm-8">

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to "Delete" , post_path(@post), method: :delete, data: {confirm: "are you sure"} %>
</div>