<!DOCTYPE html>
<html>
  <head>
    <title>Useradmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" >
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>

<body>


<nav class="navbar navbar-inverse">
<!--   <div class="container-fluid">
 -->      <div class ="row">


  <div class="col-xs-12 col-md-8">
    <div class="navbar-header">
    <%= link_to "SK" , root_path ,class: "navbar-brand" %> 
    </div>
</div>

  <div class="col-xs-12 col-md-4">

    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li>
      <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Login" , new_user_session_path %>
    <% end %> </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    </div>
    </div>
  </div>
</nav>
 <%= yield %>
  </body>

 <footer>
  <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> 
            
     </p>
            <div class="pull-right">
                
                </div>
                </div>
                </div>
                </footer>
</html>
