<!DOCTYPE html>
<html>
  <head>
    <title>Useradmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <br>
    <div align="right">
    <% if current_user %>
    <%= link_to '<button type="button">Logout</button>'.html_safe, destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to '<button type="button">Login</button>'.html_safe, new_user_session_path %>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
